.no-card-group {
  flex-direction: row-reverse;

  .c-1 { max-width: 600px; 
    margin: auto; 
  }
  .c-2 { width: 50%; }
}

.no-card-group, .no-card-group-bg {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .no-card-group, .no-card-group-bg { 
    display: grid; 

    .c-2 { display: none;}
    .c2-gif { padding: 20px 0; width: 100%;}
  }
}

@media screen and (min-width: 768px) {
  .no-card-group, .no-card-group-bg { padding: 40px 20px; }
  .c-1 { width: 100%; }
  .c2-gif { 
    display: grid;
    align-items: center;
  }
}